.Followers{
    display: flex;
    // background-color: red;
    width: 20vw;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
    align-items: center;
    .user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .btn-link{
        border: 2px solid white;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        :hover{
            cursor: pointer;
        }
    }
}
